   <div class="col-sm-2 sidenav">
  
      <li><%= link_to "My gifts", gifts_path %></li>
      <li><%= link_to "My notes", notes_path %></li>
      <li><%= link_to "My Birthday", births_path %></li>
      <li><%= link_to "All users ", friends_notsuscribe_path %></li>
    </div>