
<body class="hold-transition login-page">
<div class="login-box">
  <div class="login-logo">
    <a><b>Khalil</b>GRD</a>
  </div>

	<div class="login-box-body">
		<p class="login-box-msg">Sign in to start your session</p>
				
				<div class="social-auth-links text-center">
				<%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in" , :class=>"btn btn-block btn-social btn-facebook btn-flat"%></a><i class="fa fa-facebook"></i>
				</div>



		<div class="social-auth-links text-center">
		</div>

	</div>
</div>
</body>








