<section class="content-header">
  <h1>
    Editing Gift
    <small>Example 2.0</small>
  </h1>
</section>


<%= render 'form', gift: @gift %>

<%= link_to 'Show', @gift %> |
<%= link_to 'Back', gifts_path %>
